
<h1>Za pse</h1>

<table class="table">
    <tbody>
        <tr *ngFor="let proizvod of proizvodi;">
            <td style="display: none;">{{proizvod.id}}</td>
            <td><img src="{{proizvod.slika}}" alt=""></td>
            <td class="polje">{{proizvod.naziv}}</td>
            <td class="polje">{{proizvod.opis}}</td>
            <td class="polje2">{{proizvod.cena}} din.</td>
            <td class="polje2"><input type="number" id="{{'kolicina' + proizvod.id}}" name="kolicina" min="1" max="10" value="1"></td>
            <td>
                <button  
                    (click)="dodaj(proizvod.naziv, proizvod.id)"
                >Dodaj
                </button></td>
        </tr>
    </tbody>
</table>
